.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/app.iml
/app/build.gradle
/.idea/encodings.xml
/.idea/gradle.xml
/Home.iml
/.idea/misc.xml
/.idea/vcs.xml